/*
	Main CSS file for Dodolan Desain
	It is used for modify app.css master file
*/

body,html{
	margin : 0 ;
	padding : 0 ;
	top : 0 ;
	left : 0 ;
}

.dd-navbar{
	margin : 0 !important;
	padding : 7px 0px !important;
}
.logo-dd{
	max-width: 35px ;
	margin : 0 ;
	padding: 0 ;
}